.UserDataBody {
  flex-grow: 1;
  padding-bottom: 2em;
  height: 100%;
  align-self: stretch;
  .UserFields {
    text-align: start;
    padding-left: 1.5em;
    width: 90%;
    .AccountInfo {
      display: flex;
      width: 95vw;
      justify-content: flex-start;
      .Select {
        margin-top: 1em;
      }
      .PhotoList {
        align-self: stretch;
        display: flex;
        overflow-x: auto;
        margin-left: 3em;
        width: 75vw;
        overflow-y: hidden;
        .ImageChose {
          margin-right: 1em;
          margin-top: 1em;
          user-select: none;
          height: 30vh;
          width: 30vh;
          min-width: 30vh;
          @media screen and (max-width: 780px) {
            height: 25vh;
            width: 25vh;
            min-width: 25vh;
          }
        }
        .ImageAdd {
          border-radius: var(--first-border-radius);
          background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3CradialGradient id='ffflux-gradient'%3E%3Cstop offset='0%25' stop-color='hsl(31, 95%25, 53%25)'%3E%3C/stop%3E%3Cstop offset='100%25' stop-color='hsl(2, 68%25, 45%25)'%3E%3C/stop%3E%3C/radialGradient%3E%3Cfilter id='ffflux-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.005 0.003' numOctaves='1' seed='320' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeGaussianBlur stdDeviation='20 0' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' edgeMode='duplicate' result='blur'%3E%3C/feGaussianBlur%3E%3CfeBlend mode='color-dodge' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' in2='blur' result='blend'%3E%3C/feBlend%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='url(%23ffflux-gradient)' filter='url(%23ffflux-filter)'%3E%3C/rect%3E%3C/svg%3E");
        }
      }
    }
    .InlineInputs {
      width: 100vw;
      display: flex;
      .Input {
        margin-right: 1em;
        width: calc(19.6vw - 1.6em);
        margin-top: 0.5em;
      }
    }
    .InlineContacts {
      width: 100vw;
      display: flex;
      .Input {
        margin-right: 1em;
        width: calc(32vw - 1.6em);
        margin-top: 0.5em;
      }
    }
    .InfoFields {
      margin-top: 4em;
      background-color: var(--info-vacancy-background);
      margin-left: -1.5em;
      width: 100vw;
      padding-bottom: 2em;
      margin-bottom: -2em;
      .TitleInfo {
        margin-left: 0.5em;
      }
      .TextAreas {
        display: flex;
        justify-content: space-between;
        textarea {
          margin-top: 1em;
          resize: none;
          height: 15vh;
          @media screen and (max-width: 780px) {
            height: 20vh;
          }
          width: 50vw;
          margin-right: 2vw;
          margin-left: 1em;
          border-radius: var(--first-border-radius);
          border: none;
          font-family: var(--second-font);
          font-size: 1.25em;
          text-indent: 0.5em;
          padding-top: 0.25em;
          &:focus {
            outline: none;
          }
        }
      }
      .Button {
        margin-top: 1em;
        margin-left: 0.75em;
        font-size: 1.5em;
        border-radius: var(--first-border-radius);
        padding: 0.5em;
        padding-bottom: 0.75em;
      }
    }
  }
}
