.HidenElement {
  margin: 4vw;
  margin-top: 0;
  margin-bottom: 0.25em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  max-height: 50vh;
  overflow-y: auto;
  background-color: rgba($color: #000000, $alpha: 0.25);
  transition: all 0.3s ease-in;
  .Title {
    user-select: none;
    cursor: pointer;
    font-family: var(--first-font);
    margin-top: 0.5em;
    font-size: 2.25em;
    text-align: left;
    @media screen and (max-width: 780px) {
      font-size: 1.75em;
    }
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 100%;
    max-height: none;
  }
  .HideContent {
    height: 0px;
    max-height: 0px;
  }
}
