.MainHeader {
  font-family: var(--first-font);
  height: auto;
  width: 100%;
  user-select: none;

  .MoscowHeader {
    background-color: var(--header-moscow-background);
    height: 4.5em;
    @media screen and (max-width: 780px) {
      height: 3em;
    }
    position: relative;
    display: flex;
    .GlobalTitle {
      display: flex;
      height: 100%;
      width: max-content;
      position: absolute;
      left: 0;
      .Embleme {
        position: relative;
        margin-left: 0.25em;
        margin-right: auto;
        height: 75%;
        top: 50%;
        transform: translateY(-50%);
      }
      .Title {
        height: max-content;
        position: relative;
        margin-left: 0.5em;
        font-family: var(--first-font);
        color: var(--header-font-color);
        font-size: 2em;
        @media screen and (max-width: 780px) {
          font-size: 1em;
        }
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .AuthSearch {
      height: 2.5em;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-left: auto;
      margin-right: 1em;
      width: max-content;
      display: flex;
      align-items: center;
      .SearchIcon {
        height: 100%;
        width: 2.5em;
        @media screen and (max-width: 780px) {
          width: 1.5em;
        }
        margin-right: 0.5em;
        .Search {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          height: 1.5em;
          width: 1.5em;
          @media screen and (max-width: 780px) {
            width: 1em;
          }
          fill: #fff;
          animation: 0.5s ease-in 0.5s rotete infinite;
        }
      }
      .AuthButton {
        min-width: 2em;
        div {
          vertical-align: sub;
          height: 100%;
          font-size: 1.5em;
          @media screen and (max-width: 780px) {
            font-size: 1em;
          }
          font-family: var(--second-font);
          color: var(--header-font-color);
        }
      }
    }
  }

  .ButtonsHeader {
    background-color: var(--header-buttons-background);
    height: 3em;
    .ButtonsLineFrame {
      position: relative;
      display: flex;
      top: 40%;
      transform: translateY(-50%);
      .BurgerFrame {
        height: 2em;
        width: 2em;
        @media screen and (max-width: 780px) {
          height: 1.5em;
          width: 1.5em;
        }
        margin-right: 5%;
        margin-left: 1em;
        .Burger {
          position: relative;
          transform: translateY(27%);
          height: 1.5em;
          width: 1.5em;
          @media screen and (max-width: 780px) {
            height: 1em;
            width: 1em;
          }
          fill: #fff;
        }
      }
      .ButtonLine {
        color: var(--header-buttons-color);
        font-family: var(--second-font);
        transform: translateY(15%);
        font-size: 1.75em;
        @media screen and (max-width: 780px) {
          font-size: 75%;
          transform: translateY(35%);
        }
        display: inline;
        padding-right: 5%;
      }
      .BellFrame {
        height: 2em;
        width: 2em;
        @media screen and (max-width: 780px) {
          height: 1.5em;
          width: 1.5em;
        }
        .Bell {
          position: relative;
          transform: translateY(27%);
          height: 1.5em;
          width: 1.5em;
          @media screen and (max-width: 780px) {
            height: 1em;
            width: 1em;
          }
          fill: #fff;
        }
      }
    }
  }
}
