.MainFooter {
  height: auto;
  background-color: var(--footer-base-background);
  width: 100%;

  .Buttons {
    padding: 0.5em;
    .Table {
      margin: auto;
      display: table;
      width: 40%;
      .Row {
        display: table-row;
        margin: auto;
        .Cell {
          padding: 0.5em;
          display: table-cell;
          width: 33.33%;
          color: var(--footer-text-color);
          font-family: var(--three-font);
          font-size: 1em;
        }
      }
    }
  }

  .Info {
    height: 3em;
    background-color: var(--footer-info-background);
    display: flex;
    .Embleme {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      left: 0.25em;
      height: 2.5em;
      width: 2.11em;
    }
    .Contacts {
      font-family: var(--three-font);
      font-size: 1em;
      @media screen and (max-width: 780px) {
        font-size: 75%;
      }
      color: var(--footer-text-color);
      margin-left: 5%;
    }
  }
}
