.RegisterBody {
  flex-grow: 1;
  flex: 1;
  display: flex;
  .UserFields {
    text-align: start;
    font-family: var(--three-font);
    display: table-cell;
    padding-left: 1.5em;
    padding-top: 0.5em;
    width: 50%;
    height: 100%;
    .Title {
      font-family: var(--first-font);
      font-size: 1.75em;
      @media screen and (max-width: 780px) {
        font-size: 1em;
      }
      text-align: left;
    }
    .FieldTitle {
      font-family: var(--three-font);
      margin-top: 0.5em;
      font-size: 1.5em;
      @media screen and (max-width: 780px) {
        font-size: 0.9em;
      }
      text-align: left;
    }
    .Input {
      width: 60%;
      @media screen and (max-width: 780px) {
        font-size: 0.7em;
        width: 90%;
      }
    }
    .AlertInfo {
      word-break: normal;
      margin-top: 1em;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      width: max-content;
      max-width: 80%;
      border-radius: var(--first-border-radius);
      background-color: rgba(0, 0, 0, 0.3);
      margin-bottom: 0.5em;
      @media screen and (max-width: 780px) {
        font-size: 0.75em;
      }
    }
    .ResendTimeout {
      padding-bottom: 0.5em;
    }
    .InputPass {
      width: 60%;
      @media screen and (max-width: 780px) {
        width: 90%;
        font-size: 80%;
      }
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
}
