.UserDataBody {
  flex-grow: 1;
  padding-bottom: 2em;
  .UserFields {
    text-align: start;
    padding-left: 1.5em;
    width: 90%;
    .AccountInfo {
      display: flex;
      width: 95vw;
      justify-content: space-between;
      .ImageChose {
        margin-right: 1em;
        margin-top: 1em;
        user-select: none;
        @media screen and (max-width: 780px) {
          height: 15vh;
        }
      }
    }
    .InlineInputs {
      width: 100vw;
      display: flex;
      .Input {
        margin-right: 1em;
        width: calc(19.6vw - 1.6em);
        margin-top: 0.5em;
      }
    }
    .InlineContacts {
      width: 100vw;
      display: flex;
      .Input {
        margin-right: 1em;
        width: calc(32vw - 1.6em);
        margin-top: 0.5em;
      }
    }
    .Selection {
      width: 30vw;
      min-width: max-content;
      padding: 0.5em;
      font-size: 1.25em;
      border-radius: var(--first-border-radius);
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      &:focus {
        outline: none;
      }
      &:not([multiple]) {
        padding-right: 1.2em;
        background-repeat: no-repeat;
        background-position: calc(100% - 0.25em) 0.35em;
        background-size: 0.85em auto;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cpath d='M70.3 13.8L40 66.3 9.7 13.8z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
      }
    }
    .ProjectList {
      display: flex;
      overflow-x: auto;
      min-height: 25vh;
      .ProjectEdit {
        margin-right: 0.5em;
      }
      .PlusEdit {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 2em;
        width: max-content;
        margin-left: 0.5em;
        fill: var(--second-color);
      }
    }
  }
}

.Title {
  font-family: var(--second-font);
  font-size: 2em;
  margin-top: 1em;
  @media screen and (max-width: 780px) {
    font-size: 1.5em;
  }
  text-align: left;
}
.FieldTitle {
  font-family: var(--three-font);
  margin-top: 0.5em;
  font-size: 1.5em;
  @media screen and (max-width: 780px) {
    font-size: 1em;
  }
  text-align: left;
}
.Input {
  width: 80%;
  margin-top: 0.5em;
  @media screen and (max-width: 780px) {
    font-size: 0.7em;
    width: 85%;
  }
}
