.Input {
  display: flex;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--first-border-radius);
  transition: background 0.4s ease-in-out;
  .InputText {
    text-indent: 0.5em;
    min-width: 0;
    flex-grow: 1;
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
    background-color: transparent;
    font-size: 1em;
    &:focus {
      outline: none;
    }
  }
  &:has(.InputText:invalid) {
    background-color: rgba($color: #f00, $alpha: 0.4);
  }
  .CrossIcon {
    cursor: pointer;
    display: inline;
    height: 1.25em;
    @media screen and (max-width: 780px) {
      height: 2em;
    }
    padding-left: 0.25em;
    padding-right: 0.5em;
    margin: auto;
    fill: rgba(0, 0, 0, 0.5);
  }
}
