@font-face {
  font-family: "AlterAves";
  src: url("./Assets/Fonts/AlterAves.otf");
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("./Assets/Fonts/GT-Walsheim.otf");
}
@font-face {
  font-family: "GT-Walsheim-Light";
  src: url("./Assets/Fonts/GT-Walsheim-Light.otf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --second-font: "GT-Walsheim";
  --first-font: "AlterAves";
  --three-font: "GT-Walsheim-Light";

  --first-border-radius: 12px;

  --first-color: #2a2639;
  --second-color: #d03650;
  --three-color: #696772;
  --four-color: #c1c2c7;
  --header-font-color: #fff;
  --header-buttons-color: #fff;
}

html[data-theme="light"] {
  --header-moscow-background: var(--first-color);
  --header-buttons-background: var(--second-color);
  --footer-base-background: var(--first-color);
  --footer-info-background: #000;
  --footer-text-color: #fff;
  --active-button-background: var(--second-color);
  --active-button-color: #fff;
  --inactive-button-background: var(--three-color);
  --inactive-button-color: #fff;
  --title-city-color: #fff;
  --border-info-brick: var(--second-color);
  --profile-icon-background: var(--three-color);
  --profile-icon-color: #fff;
  --image-edit-text-color: #fff;
  --border-select-color: var(--three-color);
  --info-vacancy-background: var(--four-color);
  --side-menu-background: var(--four-color);
  --buble-color: var(--second-color);
  --bubles-background: #e9e9ee;
}

html,
body,
#root {
  min-height: 100vh;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}
